.icon {
    -fx-text-fill: #fff;
    -fx-background-color: #71f;
    -fx-padding: 10px;
    -fx-font-weight: bolder;
    -fx-font-size: 16px;
}

.title {
    -fx-text-fill: #1f7;
    -fx-font-weight: 500;
    -fx-font-size: 20;
}

.form-title {
    -fx-text-fill: #71f;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
}

.form-instructions {
    -fx-text-fill: #fff;
    -fx-font-size: 18;
    -fx-wrap-text: true;
}

.label-input {
    -fx-text-fill: #1f7;
    -fx-font-weight: bolder;
}

.field {
    -fx-background-color: #1b1b1b;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #70f;
    -fx-text-fill: #fff;
    -fx-padding: 10 3;
}

.button {
    -fx-text-fill: #fff;
    -fx-background-color: #71f;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-pref-width: 400;
}

.error {
    -fx-background-color: #e35e5e;
}

.container {
    -fx-padding: 20;
    -fx-background-color: #1b1b1b;
    -fx-font-size: 14;
}

.card {
    -fx-background-color: #17f;
    -fx-text-fill: #fff;
    -fx-pref-width: 400;
    -fx-pref-height: 130;
    -fx-padding: 20px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.low {
    -fx-background-color: #bdd9de;
}

.low .label {
    -fx-text-fill: #000;
}

.normal {
    -fx-background-color: #336d4c;
}

.high {
    -fx-background-color: #c9a821;
}

.vary-high {
    -fx-background-color: #e35e5e;
}

.card-title {
    -fx-text-fill: #fff;
    -fx-font-size: 20;
}

.card-text {
    -fx-text-fill: #fff;
}